{% extends "base.html" %}

{% block content %}
<div class="container-input-page">
    <div class="header">
        <div class="username">Current User: {{ request.user.username }}</div>
        <a href="http://localhost:8000/core/admin_collect" class="admin-link">Admin</a>
    </div>
    
    <div class="system-title">Hi, I am Entity Insight</div>
    
    <div class="example-header">Example Queries</div>
    <div class="example-grid two-column-layout">
        <!-- Left Column -->
        <div class="query-column">
            <div class="two-type">News Category</div>
            <div class="example-row">
                <div class="example-category">Markets</div>
                <div class="example-arrow">→</div>
                <div class="example-keywords">stock performance, market trends, trading volumn...</div>
            </div>
            <div class="example-row">
                <div class="example-category">Wealth</div>
                <div class="example-arrow">→</div>
                <div class="example-keywords">Billionaire rankings, Income inequality, Investment...</div>
            </div>
            <div class="example-row">
                <div class="example-category">Regulation</div>
                <div class="example-arrow">→</div>
                <div class="example-keywords">Policy changes, Compliance fines, Antitrust lawsuits...</div>
            </div>
        </div>

        <div class="query-column">

            <div class="two-type">Financial Entity Category</div>
            <div class="example-row">
                <div class="example-category">Bank</div>
                <div class="example-arrow">→</div>
                <div class="example-keywords">BOA, Citibank, JP Morgan</div>
            </div>
            <div class="example-row">
                <div class="example-category">Regulatory</div>
                <div class="example-arrow">→</div>
                <div class="example-keywords">fined, penalty, SEC investigation</div>
            </div>
            <div class="example-row">
                <div class="example-category">Rating Agencies</div>
                <div class="example-arrow">→</div>
                <div class="example-keywords">HKCRA, S&P Global Ratings, Moody's Investors Service</div>
            </div>
        </div>

        <!-- Right Column -->

    </div>

    <form method="post" action="{% url 'results' %}">
        {% csrf_token %}
        <div class="category-row">
            <div class="input-container">
                <label for="categories" class="input-label">Select News Categories:</label>
                <div class="category-dropdown">
                    <div class="category-select" onclick="toggleDropdown()">
                        Select categories
                    </div>
                    <div class="category-options news-category-options" id="categoryOptions">
                        <div class="category-option toggle-all" onclick="toggleAllCategories()">
                            <input type="checkbox" id="toggleAll">
                            <label for="toggleAll">Select All</label>
                        </div>
                        {% for category in categories %}
                        <div class="category-option">
                            <input type="checkbox" id="{{ category.slug }}" name="categories" value="{{ category.slug }}">
                            <label for="{{ category.slug }}">{{ category.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="selected-categories" id="selectedCategories">
                        Currently selected: No categories selected
                    </div>
                </div>
            </div>

            <div class="input-container">
                <label for="entity_types" class="input-label">Select Entity Categories:</label>
                <div class="category-dropdown entity-category-dropdown">
                    <div class="category-select" onclick="toggleEntityDropdown()">
                        Select entity categories
                    </div>
                    <div class="category-options entity-category-options" id="entityCategoryOptions">
                        <div class="category-option toggle-all" onclick="toggleAllEntityCategories()">
                            <input type="checkbox" id="toggleAllEntity">
                            <label for="toggleAllEntity">Select All</label>
                        </div>
                        {% for ecat in entity_types %}
                        <div class="category-option">
                            <input type="checkbox" id="{{ ecat.slug }}" name="entity_types" value="{{ ecat.name }}">
                            <label for="{{ ecat.slug }}">{{ ecat.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="selected-categories" id="selectedEntityCategories">
                        Currently selected: No entity categories selected
                    </div>
                </div>
            </div>


            <div class="input-container">
                <label for="time_ranges" class="input-label">Select News Time Range:</label>
                <div class="category-dropdown time-range-dropdown">
                    <div class="category-select" onclick="toggleTimeDropdown()">
                        one month
                    </div>
                    <div class="category-options time-range-options" id="timeRangeOptions">
                        {% for range in time_ranges %}
                        <div class="category-option">
                            <input type="radio" id="time_{{ range.slug }}" name="time_ranges" 
                                value="{{ range.slug }}" {% if range.slug == '1m' %}checked{% endif %}>
                            <label for="time_{{ range.slug }}">{{ range.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="selected-categories" id="selectedTimeRange">
                        Currently selected: one month
                    </div>
                </div>
            </div>

        </div>
        <div class="input-container">
            <label for="keywords" class="input-label">Please enter your query:</label>
            <input type="text" id="keywords" name="keywords" class="input-field" maxlength="50"
                   placeholder="Type your query here...(Tell me about recent trend of Nvidia)" required>
        </div>
        <label for="keywords" class="input-label">Number of entities:</label>
            <div class="radio-group">
                <input type="radio" id="one-entity" name="entity-count" value="one" checked>
                <label for="one-entity">One entity</label>
                <input type="radio" id="two-entities" name="entity-count" value="two">
                <label for="two-entities">Two entities</label>
            </div>
        <input type="hidden" id="selectedNewsCategories" name="selected_news_categories" value="">
        <input type="hidden" id="selectedEntityCategories" name="selected_entity_categories" value="">
        <input type="hidden" id="entity_count_value" name="entity_count" value="one">
        <button type="submit" class="submit-button">Search</button>
    </form>
</div>
{% endblock %}